<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio Flask</title>
        <link rel="stylesheet" href="{{url_for('static',filename='_css/estilos.css')}}">
    </head>
    <body>
        <h1>Menu</h1>
        <p><a href='./contactos'>Contactos</a></p> 
        <p><a href='./servicios'>Servicios</a></p> 
        <p><a href='./estudiantes'>Estudiantes</a></p> 
        <p><a href='./cursos'>Cursos</a></p> 
        <p><a href='./hobbies'>Hobbies</a></p> 
        <p><a href='./about'>Acerca de</a></p>
        <body>
    </body>
</html>
